.contact_page_background{
    background-image: url('../../images/contact_page_hero_background.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.contact_form_input{
    border: 1px solid gainsboro;
    width: 100%;
    padding: 7px 10px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.contact_form_input:focus{
    outline: 1px solid rgb(0, 183, 255);
}
.contact_form_text_area{
    width: 100%;
    border: 1px solid gainsboro;
    border-radius: 10px;
    padding: 7px 10px;
}
.contact_form_text_area:focus{
    outline: 1px solid rgb(0, 183, 255);
}

.file_upload_input[type=file]::file-selector-button {
    margin-right: 15px;
    border: 1px solid gainsboro;
    padding: 7px 20px;
    background-color: transparent;
    cursor: pointer;
    box-shadow: 1px 1px 1px  gainsboro;
    position: relative
}
.file_upload_icon{
    color: rgb(0, 255, 0);
}

.mehedi{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}