.services_page_background{
    background-image: url('../../images/contact_page_hero_background.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.for_decoration {
  list-style-type: none;
}
.after_dash:before {
  content: '\2014';
  position: absolute;

  margin-left: -25px;
}
.servies_icon{
    height: 25px;
    width: auto;
    color: #0073dd;
    padding-bottom: 5px;
    margin-right: 5px;
}