.for_blur_background{
    background-image: url('../../images/imageedit.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.hero_image_style{
    width: 80%;
    height: auto;
    border-radius: 20px;
    outline: 1px solid #0073dd;
    outline-offset: 5px;
}
.quate_button_color{
    background-color: #0084ff !important;
}
.quate_button_color:hover{
    background-color: #00c3ff98 !important;
}